/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
  background: #fafcfc;
  height: 100vh;
  width: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h1, a {
  color: #fafcfc;
  transition: color 0.3s;
}

h2 {
  text-align: center;
}

a:hover {
  color: #f58732;
}

/* HEADER STYLES */
/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem; 
  background-color: #0c1214;
  z-index: 10000; 
}

#navLeft img{
  width: 30px;
  margin-right: 1.2rem;
  border-radius: 50%;
}

#navLeft, 
#navRight {
  display: flex;
  text-wrap: wrap;
  font-size: 1.2rem;
}

nav span {
  display: none;
  margin-left: 5px;
}

#navLeft span{
  margin-right: 1.2rem;
}

#navLeft a,
#navRight a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#navRight a {
  margin-left: 1.2rem;
}

#navRight a, h1 {
  text-shadow: 0 0 10px #0c1214;
}

#navCenter,
.searchContainer,
.searchContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navCenter {
  flex: 1;
  position: relative;
}

.autocom-box {
  position: absolute;
  background: white;
  width: 70%;
  top: 45px;
  /* */
  list-style: none;
  border-radius: 0 0 5px 5px;
  line-height: 30px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  max-height: 250px;
  overflow-y: scroll;
}

.autocom-box.active {
  opacity: 1;
  pointer-events: auto;
  padding: calc(0.5rem + 5px) 1rem 0.5rem 1rem;
}

.autocom-box li {
  padding: 0 10px;
  margin: 3px 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autocom-box li span {
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 17px;
  color: white;
}

.autocom-box li .navSearchGym{
  background-color: #f8a230;
}

.autocom-box li .navSearchRoute{
  background-color: #ee212d;
}

.autocom-box li:hover {
  background: #ececec;
  cursor: pointer;
}

.searchContainer {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.searchContainer input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0 1rem;
  border: none;
  background: #fafcfc;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  z-index: 10;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.searchContainer input:hover{
  background: #ececec;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* MAIN STYLES */
/* Hero Image Styling */
.parallax {
  height: 100vh;
  background: url('assets/hero.webp') no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
}

#homeHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homeHero h1{
  width: 70%;
  font-size: 1.5rem;
}

#searchTerm{
  width: 60%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#searchTerm input,
#searchTerm button {
  border: none;
  border-radius: 10px;
  box-shadow:  0 0 10px #0c1214;
  outline: none;
}

#searchTerm input {
  padding: 0 1.5rem;
  width: 75%;
  font-size: 0.8rem;
}

#searchTerm button {
  background: #f58831;
  aspect-ratio : 1 / 1;
  width: 20%;
  text-align: center;
}


/* General Styling */
.nonParallax {
  padding: 1.5rem;
}

/* Map Page Styling */
#mapPage{
  display: flex;
}

#resultsContainer,
#mapContainer {
  margin-top: calc(30px + 2*0.5rem);
  height: calc(100vh - 30px - 2*0.5rem);
}

/* Map Page Result Sidebar Styling*/
#resultsContainer {
  width: 35vw;
  background-color: rgb(236, 212, 161);
}

#resultsContainer form {
  background-color: red;
}

#locationContainer {
  overflow-y: scroll;
  height: 100%;
}



/* Leaflet Map Styling */
#mapContainer {
  position: relative;
  width: 65vw;
}

#map {
  height: 100%;
}

#mapContainer form, 
#currLocationBtn{
  z-index: 401;
  position: absolute;
}

#mapContainer form {
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;

}

#mapContainer select {
  padding-right: 5px;
}

#currLocationBtn {
  bottom: 20px;
  right: 20px;
  background: #fafcfc;
  box-shadow: 0 0 5px #a0a0a0;
  height: 7%;
  aspect-ratio : 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s;
}

#currLocationBtn i{
  font-size: 1.1em;
}

#currLocationBtn:active {
  background: #ffd7a2;
}

/* FOOTER STYLES */
footer {
  display: flex;
  justify-content: center;
  background: #0c1214;
}

footer a {
  margin: 1rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #homeHero h1{
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  #homeHero h1{
    font-size: 4rem;
  }

  nav span {
    display: inline-block;
  }

  #navLeft img{
    width: 40px;
    margin-right: 0.2rem;
    border-radius: 50%;
  }

  #navRight span {
    font-size: 0.8rem;
  }

  #searchTerm{
    margin-top: 3%;
  }

  #resultsContainer,
  #mapContainer {
    margin-top: calc(40px + 2*0.5rem);
    height: calc(100vh - 40px - 2*0.5rem);
  }
}

@media screen and (min-width: 1280px) {
  #homeHero h1{
    font-size: 6rem;
  }

  nav span {
    display: inline-block;
    text-align: center;
  }

  #navLeft img{
    width: 50px;
    margin-right: 0.2rem;
    border-radius: 50%;
  }

  #navLeft, 
  #navRight {
    font-size: 1.5rem;
  }
  
  #navRight span {
    font-size: 1rem;
  }

  #searchTerm{
    margin-top: 1%;
  }

  #resultsContainer,
  #mapContainer {
    margin-top: calc(50px + 2*0.5rem);
    height: calc(100vh - 50px - 2*0.5rem);
  }
}