body {
  background-color: gray;
  color: black;
  display: flex;
}

.eachLocationPopup {
  height: 600px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  overflow-y: scroll;
  margin-right: 50px;
}

.eachLocationPopup img {
  width: 100%;
}
