/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
  background: #fafcfc;
  height: 100vh;
  width: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h1, a {
  color: #fafcfc;
  transition: color 0.3s;
}

h2 {
  text-align: center;
}

a:hover {
  color: #f58732;
}

/* HEADER STYLES */
/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem; 
  background-color: #0c1214;
  z-index: 10000; 
}

#navLeft img{
  width: 30px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

#navLeft, 
#navRight {
  display: flex;
  text-wrap: wrap;
  font-size: 1.2rem;
  align-items: center;
}

#navLeft a,
#navRight a {
  text-decoration: none;
}

#navRight a {
  margin-left: 0.7rem;
}

#navRight span {
  display: none;
}

#navRight a, h1 {
  text-shadow: 0 0 10px #0c1214;
}

#navRight span {
  font-size: 0.9rem;
}

#navCenter,
.searchContainer,
.searchContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navCenter {
  flex: 1;
  position: relative;
}

.searchContainer {
  display: none;
  z-index: 30;
}

.searchContainer.active{
  display: block;
  width: 90%;
  
}


#navSearchBtn {
  color: #fafcfc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBtn, .mapBtn,
#navSearchBtn .bx-search-alt,
#navSearchBtn .bx-x{
  display: none;
}

.homeBtn.active, .mapBtn.active,
#navSearchBtn .bx-search-alt.active,
#navSearchBtn .bx-x.active {
  display: block;
}

.searchContainer.active
+ .autocom-box {
  width: 90%;
  top: 25px;
}

.autocom-box {
  position: absolute;
  background: white;
  width: 70%;
  top: 45px;
  list-style: none;
  border-radius: 0 0 5px 5px;
  line-height: 30px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  max-height: 250px;
  overflow-y: scroll;
}

.autocom-box.inactive {
  display: none;
} 

.autocom-box.active {
  opacity: 1;
  pointer-events: auto;
  padding: calc(0.5rem + 5px) 1rem 0.5rem 1rem;
}

.autocom-box li {
  padding: 0 10px;
  margin: 3px 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.autocom-box li span {
  display: none;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 17px;
  color: white;
}

.autocom-box li span{
  display: block;
} 

.autocom-box li .navSearchGym{
  background-color: #f8a230;
}

.autocom-box li .navSearchRoute{
  background-color: #ee212d;
}

.autocom-box li:hover {
  background: #ececec;
  cursor: pointer;
}

.searchContainer {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.searchContainer input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0 1rem;
  border: none;
  background: #fafcfc;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  z-index: 10;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.searchContainer input:hover{
  background: #ececec;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* MAIN STYLES */
/* Hero Image Styling */
.parallax {
  height: 100vh;
  background: url('../assets/hero.webp') no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
}

#homeHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homeHero h1{
  width: 70%;
  font-size: 1.5rem;
}

#searchBtn {
  background: #f58831;
  border-radius: 13px;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 1rem;
  color: rgb(22, 16, 80);
  text-decoration: none;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 20px -15px #201f2c;
  transition: margin 0.15s, box-shadow 0.15s, background-color 0.15s;
}

#searchBtn:hover {
  background: #e27c28;
}

#searchBtn:active {

  margin-top: calc(30px + 1px);
  margin-bottom: -1px;
  box-shadow: none;
  
}

#searchBtn span {
  margin-left: 10px;
}

#searchBtnSM {
  display: block;
}

#searchBtnLG {
  display: none;
}

/* General Styling */
.nonParallax {
  padding: 1.5rem;
}

/* Map Page Styling */
#mapContainer, 
#resultsContainer {
  position: relative;
  width: 0;
  transition: width 0.1s;
}

#resultsContainer.map-active,
#mapContainer.map-active {
  width: 100vw;
}


#mapPage{
  display: flex;
  position: relative;
}

#toggleMapBtn {
  position: absolute;
  z-index: 601;
}

#viewMapBtn,
#exitMapBtn {
  display: none;
}

#viewMapBtn.map-active,
#exitMapBtn.map-active {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#toggleMapBtn {
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border: none;
  background: black;
  color: #fafcfc;
  padding: 7px 15px;
  border-radius: 50px;
}

#toggleMapBtn i {
  font-size: 1.3rem;
  margin-right: 3px;
}

.mapSideBar,
#mapContainer {
  margin-top: calc(30px + 2*0.5rem);
  height: calc(100vh - 30px - 2*0.5rem);
}

/* Map Page Result Sidebar Styling*/
.mapSideBar {
  width: 100%;
  background-color: #fafcfc;
  display: none;
  z-index: 501;
}

.mapSideBar.active {
  display: block;
}

#locationSelectContainer {
  display: flex;
  justify-content: center;
  background-color: #fafcfc;
  box-shadow: 0 3px 5px rgba(214, 201, 201, 0.5);
  padding: 15px;
}

#locationSelectContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locationSelectContainer label {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
}

#locationSelectContainer select {
  margin-top: 5px;
  outline: none;
  border-radius: 50px;
  padding: 3px 10px;
  border: none;
  font-size: 1rem;
  background-color:  #f36233;
  color: white;
  font-weight: 300;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(136, 136, 136, 0.3);
}

#locationContainer {
  overflow-y: scroll;
  height: calc(100vh - 30px - 2*0.5rem - 20px - 5px - 2*1rem - 3*6px);
}

.eachLocationResult {
  padding: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.eachLocationTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachLocationContent {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.eachLocationBtn {
  display: flex;
}

.eachLocationWebsite,
.eachLocationDirection {
  transition: background-color 0.5s
}

.eachLocationWebsite:hover,
.eachLocationDirection:hover {
  background: rgb(233, 233, 233);
}

.eachLocationBtn div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: rgb(95, 95, 95);
}

.eachLocationContent div a {
  color: rgb(95, 95, 95);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid rgb(95, 95, 95);
  width: 35px;
  border-radius: 50px;
  aspect-ratio: 1 / 1;

}

.eachLocationContent div span {
  font-size: 0.7rem;
} 

.eachLocationGym, 
.eachLocationRoute {
  padding: 0px 7px;
  font-size: 0.8rem;
  color: white;
  border-radius: 3px;
}

.eachLocationGym {
  background-color: #f8a230;
}

.eachLocationRoute {
  background-color: #ee212d;
}

#locationContainer h1 {
  color: rgb(0, 0, 0);
  text-shadow: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: normal;
  
}

#locationContainer h3 {
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
  font-weight: normal;

} 

/* Remove Sweet Alert Outline on Focus */
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

/* Map Page Direction Sidebar Styling*/
#directionDriveBtn,
#directionWalkBtn,
#directionCycleBtn {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#directionDriveBtn.selected,
#directionWalkBtn.selected,
#directionCycleBtn.selected {
  color: red;
}

/* Map Page Nearby Sidebar Styling*/
.closeSidebarBtn{
  border: none;
  right: 10px;
  top: 10px;
  background: none;
  font-size: 30px;
}

#nearbyContainer {
  position: relative;
}

#nearbyContainer .closeSidebarBtn {
  position: absolute;
}

#nearbySearchTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(214, 201, 201, 0.5);
  padding: 15px;
}

#nearbySearchTitle h1{
  color: black;
  text-shadow: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

#nearbySearchButton {
  display: flex;
  justify-content: center;
}

#nearbySearchButton a {
  color: black;
  text-decoration: none;
  width: 70px;
  height: 70px;
  box-shadow: 0px 3px 10px rgba(138, 138, 138, 0.3);
  border-radius: 10px;
  margin: 20px 10px;
  background: #ffaf94;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.2s, height 0.2s, width 0.2s, margin 0.2s;
}

#nearbySearchButton a i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#nearbySearchButton a span {
  font-size: 0.5rem;
}

#nearbySearchButton .nearbyToiletBtn:hover,
#nearbySearchButton .nearbyRestaurantBtn:hover,
#nearbySearchButton .nearbyAccomodationBtn:hover {
  background: #ffa283;
}

#nearbySearchButton .nearbyToiletBtn:active,
#nearbySearchButton .nearbyRestaurantBtn:active,
#nearbySearchButton .nearbyAccomodationBtn:active {
  background: #ff9470;
  width: 68px;
  height: 68px;
  margin: 21px 11px;
}

#nearbySearchContainer input{
  border: none;
  border-radius: 100px;
  background: rgb(236, 236, 236);
  padding: 10px 20px;
  font-size: 0.8rem;
  transition: background-color 0.2s;
}

#nearbySearchContainer input:hover {
  background: rgb(219, 219, 219);
}

#nearbySearchContainer button {
  border: none;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 50px;
  background: #999999;
  color: white;
  transition: background-color 0.2s;
  margin-left: 10px;
}

#nearbySearchContainer button:hover{
  background: #888888;
}

#nearbySearchResults {
  overflow-y: scroll;
  height: calc(100vh - 243px);
}

.eachNearbySearchResult {
  padding: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.eachNearbySearchTitle {
 color:  rgb(0, 0, 0);
 text-shadow: none;
 text-align: left;
 font-size: 1.1rem;
 font-weight: normal;
}

.eachNearbySearchTitle span{
  background: rgb(207, 188, 163);
  border-radius: 20px;
  padding: 3px 6px;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
 }

 .eachNearbySearchTitle span.LikelyOpen,
 .eachNearbySearchTitle span.VeryLikelyOpen {
  background: rgb(129, 189, 111);
 }

.eachNearbySearchResult div {
  margin-top: 10px;
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
  font-weight: normal;
}






/* Map Page Weather Sidebar Styling*/
#weatherContainer{
  position: relative;
  overflow-y: scroll;
}

#weatherContainer .closeSidebarBtn {
  position: sticky;
}

#currentWeatherContainer,
#forecastWeatherContainer {
  background: rgb(255, 206, 165);
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(223, 223, 223, 0.8);
}

#currentWeatherTitle,
#currentWeatherContent,
#forecastWeatherTitle,
#forecastWeatherContent {
  padding: 15px;
}

#currentWeatherTitle,
#forecastWeatherTitle {
  border-bottom: 2px solid #fafcfc;
  color: rgb(34, 34, 34);
}

#currentWeatherTitle div,
#forecastWeatherTitle {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.8rem; 
}

#currentWeatherTitle p {
  font-size: 0.7rem;
  font-weight: 350;
  margin: 0;
}

#currentWeatherDiv {
  display: flex;
  align-items: center;
}

#currentWeatherDiv p {
  margin: 0;
}

#currentWeatherTemp {
  font-size: 2rem;
  font-weight: bold;
}

#currentWeatherFeels {
  font-weight: 375;
  font-size: 0.9rem;
}

#currentWeatherDesc {
  font-weight: 500;
  font-size: 0.8rem;
}

#forecastWeatherContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dailyForecastLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#dailyForecastDay {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

#dailyForecastDate {
  font-size: 0.6rem;
  margin: 0;
  color: rgb(100, 100, 100);
  text-wrap: nowrap;
}

#dailyForecastLeftCenter img {
  width: 60px;
}

#dailyForecastMax {
  font-size: 1.3rem;
  font-weight: 500;
}

#dailyForecastMin {
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
}

#dailyForecastRightCenter p {
  font-size: 1rem;
  margin: 0;
}

#dailyForecastRight {
  color: rgb(63, 63, 63);
  font-weight: 300;
}


/* Leaflet Map Styling */
#map {
  height: 100%;
  width: 100%;
}

#mapContainer form, 
#currLocationBtn{
  z-index: 401;
  position: absolute;
}

#mapContainer form {
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;

}

#mapContainer select {
  padding-right: 5px;
}

#currLocationBtn {
  bottom: 20px;
  right: 20px;
  background: #fafcfc;
  box-shadow: 0 0 5px #a0a0a0;
  height: 7%;
  aspect-ratio : 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s;
}

#currLocationBtn i{
  font-size: 1.1em;
}

#currLocationBtn:active {
  background: #ffd7a2;
}

/* Leaflet Marker Popup Styling */
.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 20px;
}

.leaflet-popup-content {
  margin: 0;
}

.eachPopup {
  height: 400px;
  width: 270px;
  overflow-y: scroll;
}

.leaflet-popup-close-button {
  margin: 10px 20px 0 0;
}

.leaflet-popup-close-button span {
  color: #000000;
  text-shadow: 0px 0px 3px rgba(227, 227, 227, 0.8);
  font-size: 30px;
  line-height: 30px;
  transition: color 0.3s, text-shadow 0.3s;
  
}

.leaflet-popup-close-button span:hover {
  color: #f58831;
  text-shadow: 1px 1px 5px rgba(89, 89, 89, 0.8);
}

.eachPopup img{
  width: 100%;
  height: 45%;
  object-fit: cover;
  padding: 0;
}

.eachPopupContent {
  padding: 6%;
}



.eachPopupContentTitle h1 {
 color: black;
 text-shadow: none;
 font-size: 1rem;

}

.eachPopupContentTitle h2 {
  font-size: 1rem;
  font-weight: normal;
}

.eachPopupContentSection,
.eachPopupContentButton {
  display: flex;
  justify-content: space-around;
}

.eachPopupContentButton {
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 20px 5px;
}

.eachPopupContentButton a{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  
}

.eachPopupContentButton a div {
  height: 40px;
  width: 40px;
  border-radius: 1000px;
  border: 1px #a5a5a5 solid;
  background: #f58732;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s;
  
}

.eachPopupContentButton a p {
  margin: 5px 0 0 0;
  color: #f58732;
  transition: color 0.2s;
}

.eachPopupContentButton a:hover div {
  background: #f36233;
}

.eachPopupContentButton a:hover p {
  color: #f36233;
}

.eachPopupOverviewInfo,
.eachPopupAboutInfo  {
  display: none;
}

.eachPopupOverviewInfo.active,
.eachPopupAboutInfo.active  {
  display: block;
}

/* FOOTER STYLES */
footer {
  display: flex;
  justify-content: space-around;
  background: #0c1214;
  color: #fafcfc;
  padding: 40px 20px 50px 20px;
  font-size: 0.8rem;
}

footer div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer div section {
  display: flex;
  flex-direction: column;
}

footer div section p {
  font-weight: bold;
}

footer div section a {
  text-decoration: none;
  margin: 5px 0;
}

footer img {
  display: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* HEADER STYLES */
  /* Nav Bar */
  #navRight span {
    display: inline-block;
  }
  #navRight i {
    display: none;
  }
  
  /* MAIN STYLES */
  /* Hero Image Styling */
  #homeHero h1{
    font-size: 2.6rem;
  }

  #searchBtn {
    padding: 12px 24px;
    margin-top: 20px;
    font-size: 1.1rem;
  }

  #searchBtn:active {
    margin-top: calc(20px + 2px);
  }

  /* Map Page Styling */

  #toggleMapBtn {display: none;}

  #mapContainer, 
  #resultsContainer {
  width: 50vw;
  }

  /* FOOTER STYLES */
  footer {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  /* HEADER STYLES */
  /* Nav Bar */
  #navLeft img{
    width: 40px;
    margin-right: 0.5rem;
    border-radius: 50%;
  }

  #navRight span {
    display: inline-block;
    font-size: 0.95rem;
  }
  
  #navRight i {
    display: none;
  }

  .searchContainer {
    display: block;
  }

  .searchContainer.active {
    width: 70%;
    margin: auto;
  }

  .searchContainer.active 
  +  {
    width: 70%;
  }

  .autocom-box.inactive {
    display: block;
  }

  #navSearchBtn {
    display: none;
  }

  .homeBtn, .mapBtn{
  display: block;
  }

  .autocom-box {
    top: 30px;
  }


  /* MAIN STYLES */
  /* Hero Image Styling */
  #homeHero h1{
    font-size: 4rem;
  }

  #searchBtn {
    padding: 13px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    box-shadow: 0px 5px 30px -20px #201f2c;
  }

  #searchBtn:active {
    margin-top: calc(20px + 2px);
    margin-bottom: -2px;
  }

  #searchBtnSM {
    display: none;
  }
  
  #searchBtnLG {
    display: block;
  }


  /* Map Page Styling */
  #toggleMapBtn {display: none;}

  #mapContainer, 
  #resultsContainer {
  width: 50vw;
  }
  #resultsContainer,
  #mapContainer {
    margin-top: calc(40px + 2*0.5rem);
    height: calc(100vh - 40px - 2*0.5rem);
  }

  /* Map Page Result Sidebar Styling*/
  #locationContainer {
    height: calc(100vh - 30px - 2*0.5rem - 20px - 5px - 2*1rem - 3*10px);
  }

  #locationSelectContainer label {
    display: inline-block;
  }

  /* FOOTER STYLES */
  footer {
    font-size: 0.95rem;
    align-items: center;
  }

  footer div {
    width: 350px;
  }

  footer img {
    width: 300px;
    object-fit: cover;
    display: inline-block;
  }
}



@media screen and (min-width: 1280px) {
  /* HEADER STYLES */
  /* Nav Bar */
  nav span {
    display: inline-block;
    text-align: center;
  }

  #navLeft img{
    width: 50px;
    margin-right: 0.2rem;
    border-radius: 50%;
  }

  #navLeft, 
  #navRight {
    font-size: 1.5rem;
  }
  
  #navRight span {
    font-size: 1rem;
    display: inline-block;
  }

  #navRight i {
    display: none;
  }

  .searchContainer {
    display: block;
  }

  .searchContainer.active {
    width: 70%;
    margin: auto;
  }

  #navSearchBtn {
    display: none;
  }

  .homeBtn, .mapBtn{
  display: block;
  }

  .autocom-box li span {
    display: inline-block;
  }
  
  .autocom-box.active {
    opacity: 1;
    pointer-events: auto;
    padding: calc(0.5rem + 5px) 1rem 0.5rem 1rem;
  }

  .searchContainer.active 
+ .autocom-box {
  width: 70%;
  top: 45px;
  }

  .autocom-box.inactive {
    display: block;
  }

  
  /* MAIN STYLES */
  /* Hero Image Styling */
  #homeHero h1{
    font-size: 6rem;
  }

  #searchBtn {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    box-shadow: 0px 5px 30px -20px #201f2c;
  }

  #searchBtn:active {
    margin-top: calc(20px + 2px);
    margin-bottom: -2px;
  }

  #searchBtnSM {
    display: none;
  }
  
  #searchBtnLG {
    display: block;
  }

  /* Map Page Styling */
  #toggleMapBtn {display: none;}

  #mapContainer, 
  #resultsContainer {
  width: 50vw;
  }
  #resultsContainer,
  #mapContainer {
    margin-top: calc(50px + 2*0.5rem);
    height: calc(100vh - 50px - 2*0.5rem);
  }

  /* Map Page Result Sidebar Styling*/
  #locationContainer {
    height: calc(100vh - 30px - 2*0.5rem - 20px - 5px - 2*1rem - 3*13px);
  }
  #locationSelectContainer label {
    display: inline-block;
  }

  /* FOOTER STYLES */
  footer {
    font-size: 1rem;
    align-items: center;
  }

  footer div {
    width: 500px;
  }
  footer img {
    width: 300px;
    object-fit: cover;
    margin-left: 200px;
    display: inline-block;
  }
  
}